    <section class="intro">
             <div class="row">
               <div class="col-md-12 text-center">
                 <div class="intro-content">
                   <h1>老年人不是社会的累赘</h1>
                   <p>让老年人，也可以找到工作</p>
                   <a class="btn btn-primary-welcome" href="jobs" role="button">找工作</a>
                 </div>
               </div>
             </div>
           </section>

     <div class="container">
       <div class="col-md-12">
       <div class="short-line"></div>
      <h1>我们从新定义了“退休”</h1>
       <hr>
        <div class="row">
        <div class="col-md-4 col-sm-offset-4">
            <h2 class="md-title">岁月轻狂网是著名的天使投资人徐小平创立。中国即将步入老龄化社会，帮助老年人再就将业将日趋成为社会经济发展的刚需<br>我们的存在的意义就是致力于帮助老年人找到合适的工作，同时专注于老年人培训再教育的工作。我们认为，人生不需要退休，只要他们身体健康，就可以一直工作下去<br></h2>

          </div>
                  </div>
                </div>
              </div>
        <section2 id="cards">
         <div class="col-md-12">
           <div class="row">
           <div class="col-md-4 col-sm-offset-3">
          <img src="    http://ww4.sinaimg.cn/large/006tKfTcgy1ff3vlmeivij3069069wea.jpg
      " >
          </div>
          <div class="col-md-3">
<img src=" http://ww3.sinaimg.cn/large/006tKfTcgy1ff3vn3bjlkj3069069gle.jpg
">
            </div>
          </div>
      </div>
    </div>
  </section2>






      <section id="cards">
             <div class="col-md-12.offset-md-2">
      <div class="container">
       <div class="row">
           <div class="col-md-4">
           <div class="wrapper">
           <div class="clash-card barbarian">
          <div class="clash-card__image clash-card__image--barbarian">
            <img src="http://images.xixik.net/info/02/25/188f49f32f852218.jpg" alt="barbarian" />
          </div>
          <div class="clash-card__unit-name">候总</div>
          <div class="clash-card__unit-description">

           </div>
            </div>
            </div>
            </div>
             <div class="col-md-4">
             <div class="wrapper">
            <div class="clash-card barbarian">
            <div class="clash-card__image clash-card__image--barbarian">
              <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1ff3lz7ako7j30fb0ct0tx.jpg" alt="barbarian" />
            </div>
            <div class="clash-card__unit-name">马薇薇</div>
            <div class="clash-card__unit-description">

            </div>
            </div>
            </div>
            </div>


           <div class="col-md-4">
           <div class="wrapper">
          <div class="clash-card barbarian">
          <div class="clash-card__image clash-card__image--barbarian">
            <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1ff3m81jeckj30c909wmxt.jpg" alt="barbarian" />
          </div>
          <div class="clash-card__unit-name">蛇精男</div>
          <div class="clash-card__unit-description">

          </div>
          </div>
          </div>
          </div>
      </section>

      <!-- blog card-->
      <!--PEN CODE-->
