<section class="intro">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="intro-content">

        <h1>老年人不是社会的累赘</h1>
        <p>让老年人，也可以找到工作</p>
        <a class="btn btn-primary-welcome" href="jobs" role="button">找工作</a>
      </div>
    </div>
  </div>
</section>

<div class="lp-section-2 clearfix">
  <div class="content-2">
    <div class="short-line"></div>
    <h2>我们重新定义了退休</h2>
    <p>
      老骥伏枥网是著名的天使投资人徐小平投资<br>我们的存在的意义就是致力于帮助老年人找到合适的工作，同时专注于老年人培训再教育的工作。我们认为，人生不需要退休，只要他们身体健康，就可以一直工作下去
    </p>
    <img src="http://ww3.sinaimg.cn/large/006tNc79gy1ff7artopuoj31f20icgmo.jpg">
  </div>
</div>

<div class="lp-section-3 clearfix">

  <div class="content-3">

    <div class="feature-title">
      <div class="short-line"></div>
      <h2>我们能为您做的有</h2>
    </div>
    <div class="feature-block">
      <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff77hf46qsj305k05k3yd.jpg
           ">
      <br>
      <h3>为您找到工作</h3>
      <p>再也不用担心在找不到工作了</p>
    </div>
    <div class="feature-block">
      <img src="http://ww3.sinaimg.cn/large/006tNc79gy1ff77o3srnej305k05kdfo.jpg
           ">
      <br>
      <h3>职业培训</h3>
      <p>没有拿的出手的技能，我们为你提供专业培训</p>
    </div>
    <div class="feature-block">
      <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff77pdj346j305k05k3yb.jpg
           ">
      <br>
      <h3>定期举行沙龙</h3>
      <p>挑选重新再就业的优秀员工进行分享，成群结队，进步的更快</p>
    </div>
  </div>

  <section id="cards">
    <div class="content-4">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="wrapper">
            <div class="clash-card barbarian">
              <div class="clash-card__image clash-card__image--barbarian">
                <img class="img-responsive" src="http://ww2.sinaimg.cn/large/006tNc79gy1ff62126nbnj30dr0alab1.jpg" alt="barbarian"/>
              </div>
              <div class="clash-card__unit-name">巴菲特</div>
              <div class="clash-card__unit-description">
                我已经88岁了，到现在还是每天跳着华尔街舞去上班的
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="wrapper">
            <div class="clash-card barbarian">
              <div class="clash-card__image clash-card__image--barbarian">
                <img src="http://ww3.sinaimg.cn/large/006tNc79gy1ff61y78a2cj30co0a13yy.jpg" alt="barbarian"/>
              </div>
              <div class="clash-card__unit-name">查理芒格</div>
              <div class="clash-card__unit-description">
                我比巴菲特大6岁，不让我工作，不如杀了我
              </div>
            </div>
          </div>
        </div>
        <!-- blog card-->
        <!--PEN CODE-->
        <div class="col-sm-4">
          <div class="wrapper">
            <div class="clash-card barbarian">
              <div class="clash-card__image clash-card__image--barbarian">
                <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff622j10f8j30fv0d1dqw.jpg" alt="barbarian"/>
              </div>
              <div class="clash-card__unit-name">雷达里奥</div>
              <div class="clash-card__unit-description">
                退休，什么是退休？我的原则是，绝对不退休
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="testimonial" class="talk-about-us">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <h2 class="section-title">我们的客户</h2>
                <div class="short-line"></div>
                <div id="talk-about-us" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
                    <li data-target="#talk-about-us" data-slide-to="1" class=""></li>
                    <li data-target="#talk-about-us" data-slide-to="2" class=""></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <p>老骥伏枥网的提供的培训，非常的适合我这个年纪的人，他们那我迅速的找到了工作</p>
                      <img src="http://img1.gtimg.com/ent/pics/hv1/243/240/1133/73734768.jpg" alt="User 1">
                      <strong>东北刘大爷</strong>
                    </div>
                    <div class="item">
                      <p>我叫王德顺，我今天80岁了，还好有老骥伏枥网，在我50岁那年，开始健身，如今成为了中国的网红 </p>
                      <img src="http://www.xuqingtang.com/wp-content/uploads/2015/12/wangdeshun3.jpg" alt="User 3">
                      <strong>网红王大爷 </strong>
                    </div>
                    <div class="item">
                      <p>对与我来说，没有老骥伏枥网，我的人生将会只剩抱怨</p>
                      <img src="http://img471.ph.126.net/iAbyRYus77_OTUIOdmQZtQ==/1008524841555307160.jpg" alt="User 2">
                      <strong>上海张大爷 </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


      <!--  -->

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-2 col-xs-4">
                  <h4>工作机会</h4>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#s">工作集市</a>
                    </li>

                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h4>企业资源</h4>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#s">技能培训</a>
                    </li>


                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h4>关于我们</h4>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#s">公司介绍</a>
                    </li>
                    <li>
                      <a href="#s">常见问题</a>
                    </li>
                    <li>
                      <a href="#s">联系方式</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-xs-12 footer-box">
                  <div>
                    <a href="#s"><img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ff8bibizudj30e80e80sq.jpg" alt="Link facebook"></a>
                    <a href="#s"><img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff8boo9scwj30e80e8aa4.jpg

" alt=""></a>
                    <a href="#s"><img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ff8bibizudj30e80e80sq.jpg" alt="Link facebook"></a>

                          <div class="goTop" style="display: block;">
                                <a href="#"><span class="fa  fa-arrow-up"></span></a>
                            </div>
                  </div>
                  <div class="footer-content">
                    <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff9ay9sio5j30jk0itdg3.jpg
" alt="Wechat">联系电话：9999999
                  </div>
                </div>
              </div>
              <hr>
            <p class="text-center">Copyright ©2016 Rails101
            <br>Designed By
              <a href="http://linhai-blog.logdown.com/archives" target="_blank">linhai</a>
              | Copyright ©2017 老骥伏枥网

        </p>

            </div>
          </div>
        </div>
      </footer>
